html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
}

.Layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.Layout header {
    grid-row: 1;
    grid-column: 1;
}

.Layout main {
    grid-row: 2;
    grid-column: 1;
    overflow: hidden;
    width: 100%;
}

.Layout footer {
    grid-row: 3;
    grid-column: 1;
}

